{% extends 'base_back.html' %}
{% load i18n %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb h3">
        <li class="breadcrumb-item active" aria-current="page">{% translate "權限設定" %}</li>
    </ol>
</nav>
<div class="table-responsive">
    <a href="{% url 'creat_gp' %}" type="button" class="btn btn-dark">{% translate "新增群組" %}</a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover caption-top table-bordered">
    <caption >{% translate "所有群組" %}</caption>
        <thead>
            <tr class="table-dark">
                <th class="table-dark text-center" style="width: 200px;">{% translate "權限群組" %}</th>
                <th class="table-dark text-center" >{% translate "權限內容" %}</th>
                {% comment %} <th class="table-dark text-center" style="width: 200px;">{% translate "成員" %}</th> {% endcomment %}
                <th class="table-dark text-center" style="width: 230px;">{% translate "操作" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for key in result %}
          <tr>
              <td class="text-center" style="vertical-align: middle">{{key.name}}</td>
              <th>
                <!--div class="d-grid justify-content-md-center mx-auto"-->
                <div class="row gy-1 my-1 mx-1 mx-auto justify-content-md-center">
                {% for p in key.perm %}
                        <button type="button" class="btn btn-sm btn-outline-dark col-sm-3 mx-1 my-1" disabled>{{ p.name }}</button>
                {% endfor %}
                <div>
              </th>
              <th class="text-center" style="vertical-align: middle">
                <a href="{{ key.id }}/update" class="btn btn-sm btn-primary my-2 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" fill="currentColor" class="bi bi-brush-fill" viewBox="0 0 16 16"><path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04z"/></svg>
                    {% translate "編輯權限" %}
                </a>
                <a href="{{ key.id }}/delete" class="btn btn-sm btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="13" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16"><path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/></svg>
                    {% translate "刪除群組" %}
                </a>
              </th>
            </tr>
           
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}