{% extends 'base_back.html' %}
{% block content %}
{% load i18n %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb h3">
        <li class="breadcrumb-item">
            <a href="{% url 'back_mail' %}" class="text-dark text-decoration-none">{% translate "信件設定" %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{% translate "新增收件人" %}</li>
    </ol>
</nav>
<div class="table-responsive">
    <div class="col-6">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <input type="submit" class="btn btn-success" value="{% translate "送出" %}" />
        <a href="{% url 'back_mail' %}" type="button" class="btn btn-dark">{% translate "取消" %}</a>
        </form>
        <br>
    </div>
</div>
{% endblock %}