{% extends 'base_back.html' %}
{% block content %}
{% load i18n %}
<nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
    <ol class="breadcrumb h3">
        <li class="breadcrumb-item">
            <a href="{% url 'back_news' %}" class="text-dark text-decoration-none">{% translate "公告管理" %}</a>
        </li>
        {% if 'create' in request.get_full_path %}
            <li class="breadcrumb-item active" aria-current="page">{% translate "新增公告" %}</li>
        {% else %}
              <li class="breadcrumb-item active" aria-current="page">{% translate "編輯公告" %}</li>
        {% endif %}
    </ol>
</nav>
<div class="table-responsive">
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.media }}
        {{ form.as_p }}
    </table>
    <input type="submit" class="btn btn-success" value="{% translate "送出" %}" />
    <a href="{% url 'back_news' %}" type="button" class="btn btn-dark">{% translate "取消" %}</a>
    </form>
    <br>
</div>
{% endblock %}